
.frm1 {
    background-color: #01BFBDE6;
    color: #FFFFFF;
    border-bottom-right-radius: 60px;
    height: 80vh;
    padding: 50px;
  
  }
  .img1 {
    background-image: url('../Images/Donation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }