/* .card{
    width: 460px;
}
.displaycard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gary;
}
.input-group-text{
    background-color: dodgerblue;
} */